
<h2></h2>
<img class="someClass" src="{{imgURL}}">


<table> 
    <tr> 
        <th>Name</th>
        <th>number</th>
        <th>age</th>
        <th>birthdate</th>
        <th>Birthplace</th>
        <th>height</th>
        <th>Weight</th>
    </tr>
    <tr>
        <td>{{name}}</td> 
        <td>{{number}}</td>
        <td>{{age}}</td> 
        <td>{{birthdate}}</td>
        <td>{{birthplace}}</td> 
        <td>{{height}}</td>
        <td>{{weight}}</td> 
    </tr>
 </table>

